/*
 * ___________________________________________________________________________
 *
 *        Axels theme
 *        _______      _______                    __       
 *       |   _   |    |_     _|.-----.--.--.----.|  |--.   
 *       |       |      |   |  |  _  |  |  |  __||     |   
 *       |___|___|      |___|  |_____|_____|____||__|__|   
 *        _______   ___      _______ __                    
 *       |       |.'  _|    |     __|  |.---.-.-----.-----.
 *       |   -   ||   _|    |    |  |  ||  _  |__ --|__ --|
 *       |_______||__|      |_______|__||___._|_____|_____|
 * ___________________________________________________________________________
 * 
 * column.css
 * ___________________________________________________________________________
 * 
*/


/* ===== COLUMN ===== */
.column {
    margin: 0 0 1em;
    padding: 0em;
}


.column{
    float: left;
}
.colmiddle {
    width: auto;
    overflow: hidden;
}


.colleft .wrapper, .colright .wrapper{
    width: 17em;
    margin: 0 0 0 1em;
    padding:0;
}
.colmiddle>*{
    margin-left: 1em;
    margin-right: 1em;
}
.colright{
    float: right;
}
.colright .wrapper{
    margin: 0 1em 0 0;
}


div.column .wrapper>div{
    border: 0px solid #ccc;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}



.column h4 {
    /* Titles of the sections */
    border-bottom: 2px dotted rgba(0,0,0,0.1);
    padding-bottom: 0.5em;
    margin: 0 0 .5em;
}

/* ------ icons in widget box headers ----- */

.column h4:before, .column a:before{
    font-family: 'Font Awesome 5 Free';
    margin-right: 0.3em;
    opacity: 0.4;
}
.column h4:before{
    font-size: 130%;
}
.column #widget-adminarea h4:before{content:'';}
.column #widget-archives h4:before{content:'';}
.column #widget-categories h4:before{content:'';}
.column #widget-lastentries h4:before{content:'';}
.column #widget-searchbox h4:before{content:'';}

div.wrapper>div>ul>li>a:before{content:''; opacity: 0.2;}
div.wrapper>div#widget-categories>ul>li>a:before{content:'';}
div.wrapper>div#widget-archives>ul>li>a:before{content:''; font-weight: normal;}


.column p, .column div { 
    border: 0px solid #ccc; 
    margin-bottom: 1em;
    padding: 0.5em;
}

.column a:link, .column a:visited { display: block; padding: 0.2em 0.5em;}
.column a:hover{ background: rgba(0,0,0,0.04); }
.column a.active{ background: linear-gradient(90deg, rgba(0,0,0,0.08), rgba(0,0,0,0.02), rgba(0,0,0,0.08)); border-right: 3px solid rgba(0,0,0,0.0);}
.column a.mark{ background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.02)); border-right: 3px dotted;}

.column a.openclose{transition: all ease-in-out 0.2s; opacity: 0.5;}
.column a.openclose-open{transform: rotate(0deg); opacity: 0.2;}
.column a.openclose-close{transform: rotate(45deg); color:#a44;}

/* === List === */
.column ul li table { font-size: 100% }

.column ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: .5em;
    padding-left: 0;
}
div.wrapper>div>ul>li>a{
    font-weight: bold;
}


.column ul ul{
    padding-left: 1em;
}

.column fieldset { margin: 0 5px 0 5px }

.column legend { font-size: 100% }
