/*
 * ___________________________________________________________________________
 *
 *        Axels theme
 *        _______      _______                    __       
 *       |   _   |    |_     _|.-----.--.--.----.|  |--.   
 *       |       |      |   |  |  _  |  |  |  __||     |   
 *       |___|___|      |___|  |_____|_____|____||__|__|   
 *        _______   ___      _______ __                    
 *       |       |.'  _|    |     __|  |.---.-.-----.-----.
 *       |   -   ||   _|    |    |  |  ||  _  |__ --|__ --|
 *       |_______||__|      |_______|__||___._|_____|_____|
 * ___________________________________________________________________________
 * 
 * common.css
 * ___________________________________________________________________________
 * 
*/

/* ===== GENERAL (redefinition HTML tag) ===== */
html,input {
    font-size: 1em;
    font-family: 'Lucida Grande', 'Verdana', 'Trebuchet MS', arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    background: linear-gradient(#ccc,#fff 20%) fixed;
    margin: 0;
    color: #345;
    font-size: 100%;
    padding: 0;
    text-align:center;
}

hr { display: none }

p { margin: .5em 0 }

img { border: none }

blockquote {
    width: 90%;
    color: #666;
    margin: 1em 1em;
    padding: 0 10px;
    border-left: 5px solid #bbb
}

pre, code {
    font-family: Lucida Console, Monaco, monospace;
    font-size: 90%;
}

pre {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #efefef;

    overflow: auto;
    width: 90%;
    margin: 1em 1em;
    padding: 5px 10px;

    /* fix overflow in IE */
    min-height: 40px; 
    height: auto !important; 
    height: 40px; 
}

ul, li, ol { margin: 0; padding: 0 }

/* === Form === */
form { margin: 0; }

fieldset {
    margin: 0 0 1em 0;
    padding: .5em;
    border: #ddd solid 1px;
}

legend {
    border: 1px solid #ddd;
    border-left: 0.5em solid #ddd;
    padding: 0.5em 1em;
    background: #eee;
    background: linear-gradient(5deg,#eee,#fff,#eee);
}

input, textarea, select {
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    color: #222;
    background-color: #fff;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    border: 1px solid #89c;
    background-color: #fff
}
input[type=radio]{
    margin-right: 0.5em;
}
input[type=submit]{
    background: #fff;
    border: 2px solid #5a7;
    border-radius: 2em;
    margin-left: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
}
input[type=submit]:hover{
    background: #5a7;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 0.5em rgba(0,0,0,0.3);
}


textarea {
    font-size: 100%;
    font-family: 'Lucida Grande', 'Trebuchet MS', arial, Helvetica, sans-serif;
    width: 99%;
    margin-top: .1em;
    margin-bottom: 1em
}



/* ===== LINKS GENERAL ===== */
a:link, a:visited {
    color: #349;
    text-decoration: none;
}

a:hover {
    color: #89d;
    text-decoration: underline
}



/* ===== HEADERS TAGS ===== */
h1 {
    /* Title of the blog */
    font-size: 220%;
    margin: 2em 0 0 0
}

h2 { } /* see h2.date */

h3 {
    /* Titles of the entry
    font-family: 'book antiqua', georgia, garamond, times, 'times new roman', serif;
    font-style: italic;
    font-size: 1.5em;
    border-top: 1px dashed #ccc;
    */
    font-size: 150%;
    color: #333333;
    margin: 0;
    padding-top: 0.5em;        
}
h3>a{
    color: #333333;
}
h4 { 
    color: #444;
    font-size: 120%; 
}



/* ===== DIV CONTAINER ALL ELEMENTS BLOCK ===== */
#body-container {
    text-align: left;
    padding: 5px;
    border: solid 3px rgba(255,255,255,0.5);
    border-radius: 1em;
    box-shadow: 0 0 2em rgba(0,0,0,0.3);
    background-color: white;
    background: rgba(255,255,255,0.6);

    width: 85%;
    margin: 1em 7% 3em;
}



/* ===== HEAD ===== */
#head {
    padding: 1em;
    margin: 1em;
    background: #888;
    border-radius: 0.7em 0.7em 0 0;
    color:rgba(0,0,0,0.5);
    color:rgba(255,255,255,0.5);
    opacity: 0.7;
}


#head a { color: white; text-decoration: none }
#head input{ background:rgba(255,255,255,0.3); border: none; color:#fff;}
#head button{ background:rgba(255,255,255,0.6); border: none; padding: 0.7em; }

.subtitle {
    color:#fff;
    opacity: 0.6;
}
#menubar {
    margin-bottom: -1em;
}
#menubar ul {
    text-align: left;
}
#menubar li {
    background: rgba(255,255,255,0.1);
    display: inline-block;
    list-style: none;
}
#menubar li a{
    border-top: 1px solid rgba(0,0,0,0.0);
    display: inline-block;
    padding: 1em;
}
#menubar li a:hover{
    border-top: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.1);
}
#menubar li a.active{
    background: rgba(255,255,255,0.2);
    border-top: 1px solid #fff;
}

/* ===== DIV CONTAINER "MAIN" ===== */
#outer-container {
    height: 1%;
    margin: 0px;
    padding: 0px;
    clear: both;	
}

/* ===== MAIN ===== */
#main h4 { margin: 2em 0 0 0}

#main {
}

#main p { line-height: 1.5em; margin-top: 1.2em; }

#main img { margin: .5em }

/* === List === */
#main ul {
    list-style-type: disc;
    padding: 0 0 0 1.6em
}

#main ol {
    list-style-position: inside;
    padding: 0 0em 0 1.6em
}

#commentform fieldset p { margin: 0 0 .5em 0 }

#comments li {
    margin: 1em 0 0.5em 0;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 0 0.5em rgba(0,0,0,0.1);
}
#comments li:hover{
    background: rgba(255,255,255,1);
}
#comments li.comment-admin {
    border: 1px solid;
    border-right: 10px solid;
}

#comments li.comment-admin strong.comment-name { font-size:120% }

/* === Class of main block === */
h2.date {
    background:#fff;
    border: 1px solid #ddd;
    color: #456;
    display: inline-block;
    font-size: 100%;

    margin: -3.5em 0 0 0;
    position: absolute;
    padding: 0.7em;
}

.date { /* date under titles of the entry */
    border-bottom: 1px dashed #ddd;
    color: rgba(0,0,0,0.5);
    font-size: 90%;
    margin: .2em 0 .8em 0
}

/* .entry class */
.entry {
    background:#fff;
    margin: 3em 0 0em 0;
    padding: 1em;
    overflow: auto; /* floating images fix IE<7*/
    border: 0px solid rgba(0,0,0,0.1);
    border-bottom-left-radius: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
.entry:hover{
    border: 0px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 0.2em rgba(0,0,0,0.1);
}

#main .entry {
    overflow: hidden; /* rest of the world :) */
}
#main .entry:first-child {
    margin-top: 0em;
}
/* end of .entry */

#main ul.entry-footer { /*  entry footer */
    border-top: 1px dashed #ddd;
    clear: both;
    font-size: 90%;
    color: gray;
    margin: 2em 0 .5em 0;
    padding-top: 0.5em;
    text-align: right;
}

.entry-footer li { 
    display: block;
}


.admincontrols { /* [edit] and [delete] */
    float: right;
    margin-topX: -2.5em;
}

.buttonbar { 
    background: rgba(0,0,0,0.03);
    border-top: 1px solid #ccc;
    clear: both;
    padding: 1em;
    text-align: center; 
}

.buttonbar inputX {
    text-align: center;
    margin: .1em .5em;
    padding: 1em
}

.navigation { /* next entries & previous entries link */
    padding: 4em 0;
}
.navigation a{
    background: #fff;
    border: 0px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 1em rgba(0,0,0,0.15);
    padding: 0.5em;
}
.navigation a:hover{
    box-shadow: 0 0 0.5em rgba(0,0,0,0.1);
    text-decoration: none;
}


/* ===== FOOTER ===== */
#footer {
    background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.0) 50%);
    border-top: #fff 1px solid;
    clear: both;
    font-size: 80%;
    color: #555;
    padding: 0.5em;
    margin: 1em 1em 0;
}

/* ===== Login ===== */
form#login{margin-top: 2em;}

form#search ul{
    list-style: none;
}

.bg0{background: #fc2;}